<div class="container">
  <h2>Detalhes do Produto: {{ imovel.titulo }}</h2>
  <section class="product-details">
    <img src="{{ imovel.foto }}" alt="{{imovel.titulo }}" />
    <div class="product-description">
      <p>{{ imovel.descricao }}</p>
      <p>{{ imovel.descricao2 }}</p>
    </div>
  </section>
  <h2>Lista de favoritos</h2>
  <section class="favoritos">
    <mat-grid-list cols="3" rowHeight="3:4">
      <!-- Primeiro Card -->
      <div *ngFor="let im of imoveis; let i = index">
        <mat-grid-tile *ngIf="im.favorito === true">
          <mat-card>
            <img
              mat-card-image
              class="cartao-imagem"
              src="{{ im.foto }}"
              alt="{{ im.titulo }}"
            />
            <mat-card-content class="alinha-sub"
              ><h3>{{ im.titulo }}</h3>
              <ul>
                <li>Quartos: {{ im.quartos }}</li>
                <li>Banheiros: {{ im.banheiros }}</li>
                <li>Metragem: {{ im.area }}m²</li>
                <li>Preço: {{ im.preco  }}</li>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <button
                [class]="
                  im.favorito === false ? 'favorite' : 'favorite-check'
                "
                [title]="
                  im.favorito === false
                    ? 'Adicionar aos favoritos'
                    : 'Remover dos favoritos'
                "
                mat-button
              
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="favorite"
                ></mat-icon>
              </button>
              <button
                mat-raised-button
                color="primary"
                
              >
                Entre em contato!
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </div>
      <!-- Primeiro Card -->
    </mat-grid-list>
  </section>
</div>
